.header {
    background: #ffe0e0;
    border-bottom: solid 1px #592312;
    opacity: .8;
}

.app-name-div {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #592312;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffe0e0;
    height: 30px;
    border-top: solid 1px #592312;
    opacity: .8;
}

.footer p {
    color: #592312;
    text-align: center;
    margin: 6px auto auto auto;
}
